<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card">
        <div class="flex flex-col flex-auto w-full" >
            <div class="flex flex-col flex-auto">

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
            <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">

                <div class="gt-xs:max-w-80 gt-xs:pr-12">
                    <p class="text-lg font-medium">Criar Categoria</p>
                    <p class="text-secondary mb-6">
                        Novas Categorias não podem ter o mesmo nome e tipo de uma já existente, 
                        se esse é o caso, pense em alterar a que já existe.
                    </p>
                </div>

                <div class="flex-auto min-w-64">
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Tipo</mat-label>
                            <mat-select
                                formControlName="type"
                                [placeholder]="'Tipo'">
                                <mat-option value="FOUNDING">Fundador</mat-option>
                                <mat-option value="EFFECTIVE">Efetivo</mat-option>
                                <mat-option value="TEMPORARY">Temporário</mat-option>
                            </mat-select>
                            
                            <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                                <span *ngIf="form.controls.name.errors.required">Nome é um campo obrigatório.</span>
                            </mat-error>

                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto ">
                            <mat-label>Nome</mat-label>
                            <input
                                formControlName="name"
                                matInput
                                [placeholder]="'Nome'">

                                <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                                    <span *ngIf="form.controls.name.errors.required">Nome é um campo obrigatório.</span>
                                </mat-error>

                        </mat-form-field>
                    </div>

                    <div class="flex">
                        
                        <mat-form-field class="flex-auto">
                            <mat-label>Valor da Água</mat-label>
                            <input
                                formControlName="waterValue"
                                matInput
                                [placeholder]="'Valor da Água'">

                                <mat-error *ngIf="form.controls.waterValue.touched && form.controls.waterValue.invalid">
                                    <span *ngIf="form.controls.waterValue.errors.required">Nome é um campo obrigatório.</span>
                                </mat-error>

                        </mat-form-field>

                        <mat-form-field class="flex-auto">
                            <mat-label>Valor da Água</mat-label>
                            <input
                                formControlName="categoryValue"
                                matInput
                                [placeholder]="'Valor da Água'">

                                <mat-error *ngIf="form.controls.categoryValue.touched && form.controls.categoryValue.invalid">
                                    <span *ngIf="form.controls.categoryValue.errors.required">Nome é um campo obrigatório.</span>
                                </mat-error>

                        </mat-form-field>
                    </div>

                </div>
            </div>


            <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button mat-button>
                    Cancel
                </button>
                
                <button
                    class="px-6 ml-3"
                    mat-flat-button
                    type="submit"
                    [disabled]="form.invalid"
                    (click)="onSubmit()"
                    [color]="'primary'">
                    Save
                </button>
            </div>
        </form>
    </div>
    </div>
    </div>
</div>